<header class="header">
  <ul class="menu">
    <li>
      <a href="./contact">Contact</a>
    </li>
    <li>
      <a href="./conferences">Conferences</a>
    </li>
    <!-- <li>
      <a href="https://discord.gg/A5HKmQ" target="_new" rel="nofollow" alt="React-UI-Kit Chat">Chat</a>
    </li> -->
    <li>
      <a href="https://youtube.com/react-ui-kit" target="_new" rel="nofollow"
        alt="YouTube React-Native Tutorials">YouTube</a>
    </li>
    <li>
      <a href="https://github.com/react-ui-kit/dribbble2react" target="_new" rel="nofollow"
        alt="React-UI-Kit GitHub Freebies">
        Freebies
      </a>
    </li>
  </ul>
</header>