<div class="social">
  <ul class="links">
    <li>
      <a href="https://github.com/react-ui-kit/" target="_new">
        <img alt="React-UI-Kit on github.com" src="./assets/icons/social/github.svg" />
      </a>
    </li>
    <li>
      <a href="https://expo.io/snacks/@react-ui-kit" target="_new">
        <img alt="React-UI-Kit on expo.io" src="./assets/icons/social/expo.svg" />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/groups/react.native.community/" target="_new">
        <img alt="React-UI-Kit on facebook.com" src="./assets/icons/social/facebook.svg" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/react_ui_kit" target="_new">
        <img alt="React-UI-Kit on twitter.com" src="./assets/icons/social/twitter.svg" />
      </a>
    </li>
    <li>
      <a href="https://medium.com/@react.ui.kit/" target="_new">
        <img alt="React-UI-Kit on medium.com" src="./assets/icons/social/medium.svg" />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/react.ui.kit/" target="_new">
        <img alt="React-UI-Kit on instagram.com" src="./assets/icons/social/instagram.svg" />
      </a>
    </li>
  </ul>
</div>